:root {
	--color-dark: #0C141F;
	--color-light: #E6FFFF;
	--color-action: #DF7212;
	--color-action-bg: #E7954D;
	--color-active: #FFE64D;
	--color-detail: #6FC3DF;
	--color-detail-bg: #B7E1EF;
}