:root {
	--color-dark: #0C141F;
	--color-light: #E6FFFF;
	--color-action: #DF7212;
	--color-action-bg: #E7954D;
	--color-active: #FFE64D;
	--color-detail: #6FC3DF;
	--color-detail-bg: #B7E1EF;
	
	--header-height: 7rem;
}

/* estilos gerais */

html {
	scroll-behavior: smooth;
}

h1, h2, h3 {
	font-family: 'VT323', monospace;
	font-style: normal;
  	font-weight: 400;
}

body {
	font-family: 'Roboto Mono', monospace;	
}

section {
	min-height: 100vh;
}

.container {
	padding-top: calc(var(--header-height) + 2rem);
	max-width: 80%;
	margin: auto;
}


/* header */

h1 {
	color: var(--color-light);
	font-size: 2.375rem;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: space-between;
	background-color: var(--color-dark);
	padding: 1rem;
	box-shadow: 0 3px 5px var(--color-detail);
	position: fixed;
	width: 100%;
	height: var(--header-height);
	z-index: 100;
}

.header-top {
	/* retirar classe com scroll */
	background-color: rgba(0,0,0,0);
	box-shadow: 0 0 0;
}

header ul {
	display: flex;
	justify-content: space-between;
	font-family: 'VT323', monospace;
	/* aumentar pra 1.5rem no primeiro breakpoint */
	font-size: 1.5rem;
	color: var(--color-detail);
}


header li {
	padding: 0 2.5vw;
}

header ul > li:not(:first-child) {
	border-left: 1px solid rgba(111,195,223,.5);
}

header a {
	position: relative;
	transition: color .5s;
}

header a::before {
	content: '';
	position: absolute;
	width: 0;
	top: 100%;
	left: 50%;
	height: 2px;
	transition: left .5s ease-in-out, width .5s ease-in-out;
	background-color: var(--color-active);
}

.active {
	color: var(--color-active);
	position: relative;
	/*border-bottom: 2px solid var(--color-active);*/
}

.active::before {
	content: '';
	position: absolute;
	background-color: var(--color-active);
	width: 100%;
	top: 100%;
	left: 0;
	opacity: 80%;
	height: 2px;
	
}


/* home */

#home {
	height: 100vh;
	background-color: var(--color-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-active);
	background-image: url(img/the_grid_by_doved-d4jugw9.jpg);
}

#home > div {
	width: 16.25rem;
	display: flex;
	flex-direction: column;
	align-items: center
}

#home p {
	font-size: 1.125rem;
}

#home a {
	font-size: 1.25rem;
	color: var(--color-light);
	background-color: var(--color-action);
	padding:  .75rem 1.25rem;
	border-radius: 7px;
	margin-top: 1.5rem;
	box-shadow: 3px 3px 3px var(--color-detail);
}


/* sobre */

#sobre {
	background-color: var(--color-detail-bg);
}

#sobre img {
	max-width: 100%;
	max-height: 960px;
}

.content-sobre{
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	line-height: 1.5rem;
}

#sobre h2, #sobre h3 {
	text-align: center;
}

#sobre h2 {
	font-size: 2.25rem;
	margin-bottom: 1rem;
}

#sobre h3 {
	font-size: 1.75rem;
	margin: .75rem;
	
}



/* portfolio */

#portfolio {
	background-color: var(--color-light);
}

#portfolio h3 {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.25rem;
	text-align: center;
	padding: .5rem;
}

.card {
	background-color: var(--color-action);
	color: var(--color-light);
	margin-bottom: 2.25rem;
	border-radius: 7px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.card img {
	width: 100%;
	border-radius: 7px 7px 0 0;
}

.descricao-container {
	position: absolute;
}

.card p {
	opacity: 0;
}


/* contato */

#contato {
	background-color: var(--color-action-bg);
	color: var(--color-light);
}

#contato h2 {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 1.5rem;
	font-weight: 400;
}

input, textarea {
	border-bottom: 1px solid var(--color-light);
	background: transparent;
	color: var(--color-light);
	width: 100%;
}

#contato form {
	background-color: var(--color-dark);
	border-radius: 7px;
	padding: 1.25rem 1.5rem;
	box-shadow: 3px 5px 5px var(--color-detail);
}

.field {
	position: relative;
	margin-bottom: 1.25rem;
}


#contato label {
	position: absolute;
	top: 0;
	left: .25rem;
	transition: opacity .4s;
}

#contato textarea {
	height: 7rem;
}

#contato button {
	color: var(--color-light);
	background-color: transparent;
	border: 1px solid var(--color-light);
	padding: .25rem 1rem;
	border-radius: 7px;
	margin-top: 1.25rem;
}

input:focus + label, textarea:focus + label {
	opacity: 0;
}

.done + label {
	opacity: 0;
}


/* 
primeiro breakpoint 380

header ul {
	font-size 1.5rem
} 
header li {
	padding: 0 3vw;
}


segundo breakpoint 580

duas colunas no sobre
*/